<!--index.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pythonca</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <div class="site-title">
        python tutorial
    </div>

    <button class="sen_dene" onclick=window.location.href="{% url 'run_code' %}"  >
        Sen Dene
    </button>
    
</body>
</html>